body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #656f79;
}

header {
    background-color: white;
    padding: 20px 0;
    line-height: 0;
}

header h1 {
    color: #656f79;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 4px;
    margin-left: 5px;
}

nav {
    background-color: white;
    border-top: 0.5px solid #CCC;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: #656f79;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 0;
    display: block;
    text-align: center;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

nav ul li a.activo {
    /* font-weight: 400; */
    border-top: 3px solid #CCC;

}

footer {
    background-color: white;
    border-top: 0.5px solid #CCC;
    color: #656f79;
    font-size: 12px;
    font-weight: 300;
    clear: both;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

.responsive {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 50%;
}

h2 {
    color: #333;
    font-weight: 400;
}

.bienvenidos {
    width: 70%;
    padding-right: 60px;
    box-sizing: border-box;
}

.reservas {
    width: 30%;
}

.columnas {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.reserva {
    background-color: whitesmoke;
    padding: 15px 40px;

}

.form-reserva label {
    display: block;
}

.form-reserva input,
.form-reserva select {
    width: 100%;
    height: 35px;
    background-color: white;
    border: 1px solid #CCC;
    color: #656f79;
}

.form-reserva input[type="submit"] {
    width: 100%;
    height: auto;
    background-color: #656f79;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    color: whitesmoke;
    transition: background-color 1s;
}

.form-reserva input[type="submit"]:hover {
    color: white;
    background-color: #333;
}

.servicio-descripcion{
    margin-top: 60px;
}

.servicios{
    display: flex;
    justify-content: space-between;
}

.servicio{
    border: 0.5px solid #CCC;
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    text-align: center;
    width: 18%;
    margin-top: 40px;
    margin-bottom: 60px;
    transition: background-color 1s;
}

.servicio span{
    font-size: 48px;
    color: #CCC;
}

.servicio h3{
    margin: 0;
}

.servicio:hover{
    background-color: whitesmoke;
}

.apartamento{
    background-color: whitesmoke;
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 40px;
    margin: 40px 0;
}

.apartamento img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0% 50%;
    display: block;
}

.apartamentos{
    margin-top: 60px;
}

.apartamento:first-of-type{
    margin-top: 30px;
}

.apartamento:last-of-type{
    margin-bottom: 100px;
}

.galerias{
    margin-top: 60px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 50px;
}

.galeria img{
    width: 18%;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
}

.contacto{
    display: flex;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.contacto div {
    width: 100%;
}

.datos p{
    font-size: 14px;
}

.datos ul li{
    font-size: 13px;
}

.formulario p{
    display: flex;
}

.formulario p label{
    min-width: 80px;
}

.formulario p label{
    display: flex;
    align-items: center;
}

.formulario p:nth-child(4){
    align-items: start;
}

.formulario p:last-of-type{
    justify-content: end;
}

.formulario textarea {
    resize: none;
    height: 150px;
    width: 100%;
    background-color: white;
    border: 1px solid #CCC;
    color: #656f79;
}

.formulario input{
    width: 100%;
    background-color: white;
    border: 1px solid #CCC;
    color: #656f79;
}

.formulario input[type="submit"] {
    width: auto;
    height: auto;
    background-color: #656f79;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    color: whitesmoke;
    transition: background-color 1s;
    justify-content: end;
}

.formulario input[type="submit"]:hover {
    color: white;
    background-color: #333;
}